<section id="contacts" class="contacts">
    <div class="container">
        <h2 class="contacts-title"><span class="contacts-title-accent">СТАТИ</span> МЕЦЕНАТОМ</h2>
        <div class="contacts-container">
            <form class="contacts-form">
                <div class="contacts-inputs">
                    <div class="contacts-sub-inputs">
                        <div class="contacts-inputs-part">
                            <input type="name" id="name" name="name" placeholder="Имя" class="contacts-input"/>
                            <input type="text" id="company" name="company" placeholder="Компания" class="contacts-input"/>
                        </div>
                        <div class="contacts-inputs-part">
                            <input type="tel" id="phone" name="phone" placeholder="Телефон" class="contacts-input"/>
                            <input type="email" id="email" name="email" placeholder="E-mail" class="contacts-input"/>
                        </div>
                    </div>
                    <textarea placeholder="Повідомлення" name="message" id="message" class="contacts-textarea"></textarea>
                </div>
                <div class="contacts-btn-message">
                    <div class="contacts-btn-container">
                        <button type="submit" class="contacts-btn">Надіслати</button>
                    </div>
                    <p class="contacts-message">
                        * Ваші дані не будуть передані третім особам, 100% ймовірність.
                        <br>Конфіденційність ми гарантуємо та захищаємо персональні дані.
                    </p>
                </div>
            </form>
            <div class="contacts-links">
                <div class="contacts-phones">
                    <a href="tel:380958507235" class="contacts-link">+38 (095) 850-72-35</a>
                    <a href="tel:380956507179" class="contacts-link">+38 (095) 650-71-79</a>
                </div>
                <div class="contacts-addresses">
                    <a href="mailto:info@theater.ru" class="contacts-mail">info@theater.ru</a>
                    <p class="contacts-link">м. Київ, вул.Богдана Хмельницького 5140</p>
                </div>
            </div>
        </div>
    </div>
</section>