<section id="main" class="header-hero">
  <div class="mobile-menu js-menu-container">
    <button type="button" class="mobile-menu-close-btn js-close-menu">
      <svg class="mobile-menu-close-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mobile-menu-nav-list">
      <li class="mobile-menu-nav-item">
        <a href="#main" class="mobile-menu-nav-link">ГОЛОВНА</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a href="#about" class="mobile-menu-nav-link">ПРО ТЕАТР</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a href="#productions" class="mobile-menu-nav-link">НАШІ ПОСТАНОВКИ</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a href="#partners" class="mobile-menu-nav-link">ПАРТНЕРИ ТЕАТРУ</a>
      </li>
      <li class="mobile-menu-nav-item">
        <a href="#contacts" class="mobile-menu-nav-link">КОНТАКТИ</a>
      </li>
    </ul>
    <ul class="mobile-menu-social-list">
      <li class="mobile-menu-social-item">
        <a href="https://www.instagram.com/" target="_blank" class="mobile-menu-social-link">
          <svg class="mobile-menu-social-icon" width="45" height="45">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu-social-item">
        <a href="https://www.facebook.com/" target="_blank" class="mobile-menu-social-link">
          <svg class="mobile-menu-social-icon" width="45" height="45">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu-social-item">
        <a href="https://www.vk.com/" target="_blank" class="mobile-menu-social-link">
          <svg class="mobile-menu-social-icon" width="45" height="45">
            <use href="./img/icons.svg#icon-vk"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu-social-item">
        <a href="https://www.youtube.com/" target="_blank" class="mobile-menu-social-link">
          <svg class="mobile-menu-social-icon" width="45" height="45">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="left">
    <p class="contact-text">КОНТАКТНА ІНФОРМАЦІЯ</p>
    <div class="left-line"></div>
    <ul class="left-contacts-list">
      <li class="left-contacts-item">
        <a href="https://www.instagram.com/" target="_blank" class="left-contacts-link">
          <svg class="left-contacts-icon" width="26" height="26">
            <use href="./img/icons.svg#icon-instagram-small"></use>
          </svg>
        </a>
      </li>
      <li class="left-contacts-item">
        <a href="https://www.facebook.com/" target="_blank" class="left-contacts-link">
          <svg class="left-contacts-icon" width="26" height="26">
            <use href="./img/icons.svg#icon-facebook-small"></use>
          </svg>
        </a>
      </li>
      <li class="left-contacts-item">
        <a href="https://www.vk.com/" target="_blank" class="left-contacts-link">
          <svg class="left-contacts-icon" width="26" height="26">
            <use href="./img/icons.svg#icon-vk-small"></use>
          </svg>
        </a>
      </li>
      <li class="left-contacts-item">
        <a href="https://www.youtube.com/" target="_blank" class="left-contacts-link">
          <svg class="left-contacts-icon" width="26" height="26">
            <use href="./img/icons.svg#icon-youtube-small"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="right">
    <header class="header">
      <button type="button" class="burger-button js-open-menu">
        <svg class="burger-icon" width="40" height="40">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-item">
            <a href="#main" class="header-link">ГОЛОВНА</a>
          </li>
          <li class="header-item">
            <a href="#about" class="header-link">ПРО ТЕАТР</a>
          </li>
          <li class="header-item">
            <a href="#productions" class="header-link">НАШІ ПОСТАНОКИ</a>
          </li>
          <li class="header-item">
            <a href="#partners" class="header-link">ПАРТНЕРИ ТЕАТРУ</a>
          </li>
          <li class="header-item">
            <a href="#contacts" class="header-link">КОНТАКТИ</a>
          </li>
        </ul>
      </nav>
      <div class="header-phone-container">
        <a href="tel:380956507179" class="header-phone-link">+38 (095) 650-71-79</a>
        <div class="phone-underline"></div>
      </div>
    </header>
    <div class="hero-container">
      <div class="hero-content">
        <div class="hero-poster-desc-btn-container">
          <h1 class="hero-title">театр ім. Лесі Українки</h1>
          <p class="hero-description">
            У самому центрі історичної частини Києва, за два кроки від Хрещатика, неподалік від Золотих воріт, на розі двох старовинних вулиць - Пушкінської та Богдана Хмельницького – постає будівля, добре відома киянам та гостям столиці України як Театр імені Лесі Українки.
            <br>
            <br>
            Цінність будь-якого театру, його популярність у глядача завжди визначається наявністю в ньому яскравих індивідуальностей.
            <br>
            <br>
            Київський театр імені Лесі Українки завжди славився своїми акторськими та режисерськими індивідуальностями. Театр завжди був і залишається театром ансамблю.
          </p>
          <button type="button" class="hero-poster-btn">АФІША</button>
        </div>
      </div>
      <div class="hero-swiper-container">
        <div class="hero-swiper-wrapper swiper-wrapper">
          <div class="swiper-slide">
            <img class="hero-swiper-slide-img" src="./img/hero/hero-slide-1.png"/>
          </div>
          <div class="swiper-slide">
            <img class="hero-swiper-slide-img" src="./img/hero/hero-slide-2.png"/>
          </div>
          <div class="swiper-slide">
            <img class="hero-swiper-slide-img" src="./img/hero/hero-slide-3.png"/>
          </div>
        </div>
        <div class="hero-swiper-buttons">
          <button type="button" class="hero-swiper-button hero-swiper-button-prev">
            <svg class="hero-swiper-icon-prev" width="40" height="10">
              <use href="./img/icons.svg#icon-arrow-prev"></use>
            </svg>
            <p class="hero-swiper-button-text-prev">Попередня</p>
          </button>
          <button type="button" class="hero-swiper-button hero-swiper-button-next">
            <p class="hero-swiper-button-text-next">Наступна</p>
            <svg class="hero-swiper-icon-next" width="40" height="10">
              <use href="./img/icons.svg#icon-arrow-next"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
