<section id="partners" class="partners">
    <div class="container">
        <h2 class="partners-title"><span class="partners-title-accent">ПАРТНЕРИ</span> ТЕАТРУ</h2>
        <div class="partners-swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="partners-item">
                        <div class="partials-img-container">
                            <img alt="Avada Media" src="./img/partners/avada-media.png" class="partners-img"/>
                        </div>
                        <div class="partials-img-container">
                            <img alt="Space Lab" src="./img/partners/space-lab.png" class="partners-img"/>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partners-item">
                        <div class="partials-img-container">
                            <img alt="Space Lab" src="./img/partners/space-lab.png" class="partners-img"/>
                        </div>
                        <div class="partials-img-container">
                            <img alt="Avada Media" src="./img/partners/avada-media.png" class="partners-img"/>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partners-item">
                        <div class="partials-img-container">
                            <img alt="Avada Media" src="./img/partners/avada-media.png" class="partners-img"/>
                        </div>
                        <div class="partials-img-container">
                            <img alt="Space Lab" src="./img/partners/space-lab.png" class="partners-img"/>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partners-item">
                        <div class="partials-img-container">
                            <img alt="Space Lab" src="./img/partners/space-lab.png" class="partners-img"/>
                        </div>
                        <div class="partials-img-container">
                            <img alt="Avada Media" src="./img/partners/avada-media.png" class="partners-img"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>