<section id="productions" class="productions">
    <div class="container">
        <h2 class="productions-title"><span class="productions-title-accent">НАШІ</span> ПОСТАНОВКИ</h2>
        <div class="productions-swiper-container">
            <div class="productions-swiper-wrapper swiper-wrapper">
              <div class="swiper-slide">
                <div class="productions-image-container">
                    <img src="./img/productions/production1.png" class="productions-image" />
                    <p class="productions-name">ЛУСКУНЧИК</p>
                    <p class="productions-date">ТРАВЕНЬ 2023</p>
                    <button type="button" class="productions-button">
                        <svg class="productions-icon" width="30" height="30">
                            <use href="./img/icons.svg#icon-search"></use>
                        </svg>
                    </button>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="productions-image-container">
                    <img src="./img/productions/production2.png" class="productions-image" />
                    <p class="productions-name">ТЕАТР</p>
                    <p class="productions-date">ЧЕРВЕНЬ 2023</p>
                    <button type="button" class="productions-button">
                        <svg class="productions-icon" width="30" height="30">
                            <use href="./img/icons.svg#icon-search"></use>
                        </svg>
                    </button>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="productions-image-container">
                    <img src="./img/productions/production3.png" class="productions-image" />
                    <p class="productions-name">ПОПЕЛЮШКА</p>
                    <p class="productions-date">ЛИПЕНЬ 2023</p>
                    <button type="button" class="productions-button">
                        <svg class="productions-icon" width="30" height="30">
                            <use href="./img/icons.svg#icon-search"></use>
                        </svg>
                    </button>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="productions-image-container">
                    <img src="./img/productions/production4.png" class="productions-image" />
                    <p class="productions-name">СНІГОВА КОРОЛЕВА</p>
                    <p class="productions-date">СЕРПЕНЬ 2023</p>
                    <button type="button" class="productions-button">
                        <svg class="productions-icon" width="30" height="30">
                            <use href="./img/icons.svg#icon-search"></use>
                        </svg>
                    </button>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>